/*
* @Author: fengzi
* @Date:   2017-05-19 23:44:08
* @Last Modified by:   fengzi
* @Last Modified time: 2017-05-20 09:37:14
*/

.lightblue {
	background-color: #20a8d8;
}
.simleblue {
	background-color: #63c2de;
}
.lightyellow {
	background-color: #f8cb00;
}
.lightred {
	background-color: #f86c6b;
}
.lightgreen {
	background-color: #4dbd74;
}
.lightpurple {
	background-color: rgb(112, 82, 150);
}
.simpleyellow {
	background-color: rgb(239, 221, 92);
}
.lightblack {
	background-color: rgb(29, 42, 51);
}
.lightbrown {
	background-color: rgb(197, 82, 41);
}
.lightgray {
	background-color: #b1afaf;
}