/*
* @Author: lishipeng
* @Date:   2016-09-27 09:27:21
* @Last Modified by:   lishipeng
* @Last Modified time: 2016-09-27 09:42:56
*/

*{
	margin: 0;
	padding: 0;
}
body{
  color: rgb(90, 90, 90);
  font: 1rem/1.5 微软雅黑, "PT Sans", sans-serif;	
}
h2{
	background-color: #dfe1e8;
	padding: 20px 15px;
}
table{
	margin-top: 10px;
	margin-bottom: 50px;
	margin:10px 0 50px 20px;
}
table td{
	text-align: left;	
}
tr td:nth-child(1){
	width: 400px;
}